
.splide__arrows .splide__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY( -50% );
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    background-color: white !important;
    display: flex;
    cursor: pointer;
}

.splide__arrow svg {
    width: 40px;
    height: 40px;
    fill:none;
    stroke:#000000;
    stroke-width:1.5;
    stroke-miterlimit:4.8;
}

.splide__arrow--prev {
  left: 0;
}

.splide__arrow--prev svg{
  transform: scaleX( -1 );
}

.splide__arrow--next {
  right: 0;
}

/* // Arrow button size.
$arrow-button-size: 2em !default;

// Arrow SVG size.
$arrow-size: 1.2em !default;

// Dots indicator size.
$dot-size: 8px !default;

// Height of a progress bar.
$progress-bar-height: 3px !default; */

/* .splide {
    &__arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY( -50% );
      width: $arrow-button-size;
      height: $arrow-button-size;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 0;
      opacity: .7;
      background: #ccc;
  
      svg {
        width: $arrow-size;
        height: $arrow-size;
      }
  
      &:hover {
        cursor: pointer;
        opacity: .9;
      }
  
      &:focus {
        outline: none;
      }
  
      &--prev {
        left: 1em;
  
        svg {
          transform: scaleX( -1 );
        }
      }
  
      &--next {
        right: 1em;
      }
    }
  } */